<div class="wrapper debug">

  <div class="span-12-d debug h-10 col  ta-cen flex-center">
    <div class="debug span-3-d col h-3"></div>


    <div class="debug span-6-d col bd-1g ">
      <p class="fs-150">The purpose of this app allows young people to map the different types of financial services (both predatory services and quality financial services) while overlaying the racial/ethnic and socio economic demographic information in order to shed light on the lack of quality financial access in low income communities and communities of color.</p>
    </div>

    <div class="debug span-3-d col h-3"></div>
  </div>

<div class="debug span-12-d col container">
  <%= link_to 'New Address', new_address_path, :class => "btn btn-primary btn-lg btn-block bg-green" %>
  <br>
  <%= link_to 'Maps', maps_path, :class => "btn btn-primary btn-lg btn-block bg-green" %>

</div>

</div>
<!-- wrapper end -->
